* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  color: rgba(245, 245, 245, 0.747);
}

.row {
  background-color: #333333;
}

.row__poster {
  -o-object-fit: contain;
     object-fit: contain;
  width: 7rem;
  padding-right: 1rem;
}

.row__poster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.row__posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__title {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 1rem !important;
  padding-top: 1%;
  color: whitesmoke;
}

.row__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 1rem;
}

.row__thumb::-webkit-scrollbar {
  display: none;
}

.row__thumb--list {
  margin-top: -0.2rem;
  list-style-type: none;
  font-size: 0.5rem;
}

.row__thumb--list-itm {
  display: none;
}

.row__thumb--list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  overflow: scroll;
}

.row__thumb--list:hover {
  font-size: 0.73rem;
  color: white;
}

.row__thumb--list1 {
  font-size: 0.7rem;
  color: whitesmoke;
}

.row__thumb--list-inst {
  display: none;
}

.row__thumbs {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row__thumb--img {
  max-height: 16vh;
  margin-right: 4vw;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
  opacity: 0.75;
  z-index: 200;
}

.row__thumb--img:hover {
  -webkit-transform: scale(1.22);
          transform: scale(1.22);
  opacity: 1;
}

.row__thumb--img-l {
  max-height: 9rem;
  margin: 0;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
  opacity: 0.85;
}

.row__thumb--img-l:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.try {
  height: 21rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.banner__video {
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner__contents {
  padding-top: 10vh;
  margin-left: 1rem;
  z-index: 99;
  height: 4rem;
  position: absolute;
}

.banner__contents--title {
  max-width: 9rem;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__contents--title:hover {
  color: whitesmoke;
}

.banner__contents--inst {
  width: 15rem;
  line-height: 1;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  max-width: 18rem;
  height: 3rem;
}

.banner__contents--inst:hover {
  width: 100%;
  color: whitesmoke;
  background-color: #333333be;
  z-index: 200;
}

.banner__contents--inst-i {
  margin-top: 3vh;
  width: 17rem;
  line-height: 1.1rem;
  max-width: 18rem;
  font-size: 0.7rem;
  font-weight: 500;
  padding-top: 0.1rem;
  font-size: 1rem;
  color: whitesmoke;
}

.banner__contents--btn {
  cursor: pointer;
  margin: auto 0.5rem;
  background-color: #333333be;
  outline: none;
  font-weight: 100;
  border-radius: 1vw;
  outline: none;
  border: none;
  padding-top: 1%;
  text-decoration: none;
  -webkit-transition: 450ms;
  transition: 450ms;
  overflow: hidden;
  max-height: 1.2rem;
  max-width: 1.2rem;
}

.banner__contents--btn:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  outline-width: 0;
}

.banner__contents--btn:focus {
  outline-width: 0;
}

.banner__contents--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__search {
  margin: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.78rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(245, 245, 245, 0.192);
}

.nav__searchicon {
  color: whitesmoke;
  height: 1.3rem;
  width: 1.3rem;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.nav__searchicon:hover {
  -webkit-transform: scale(1.22);
          transform: scale(1.22);
  color: white;
}

.nav__logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 4rem;
  max-height: 4rem;
  padding-top: 0.28rem;
  margin-left: 1rem;
}

.nav__black {
  color: black;
}

.signature {
  margin-left: 6rem;
  color: rgba(245, 245, 245, 0.603);
}

.Your {
  margin-left: 4.5rem;
  color: rgba(245, 245, 245, 0.788);
}

.new {
  width: 320px;
}

.new__bg {
  margin-top: -2rem;
  margin-left: -10rem;
  height: 100%;
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  z-index: -1;
}

.new__form {
  opacity: 0.79;
  padding-top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  margin-left: 45%;
}

.new__form > input {
  color: darkgreen;
  border-radius: 2px;
  border: 0.1px solid lightgray;
}

.new__form > input:focus {
  color: black;
  outline-width: 0;
}

.new__form > textarea {
  color: darkgreen;
  height: 10vh;
  border-radius: 2px;
  border: 0.1px solid lightgray;
}

.new__form > textarea:focus {
  color: black;
  outline-width: 0;
}

.new__form > button {
  opacity: 0.9;
  border: 0.1px solid lightgray;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #969595;
  font-weight: 800;
  margin-top: -0.4rem;
}

.new__form > button:hover {
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccaca);
  color: #3d3c3c;
}

.new__form--title {
  margin: 1rem auto auto 1rem;
  position: absolute;
  font-size: 2.3rem;
  line-height: 0.8;
  color: rgba(245, 245, 245, 0.521);
  font-weight: 500;
}

.new__form--name {
  color: rgba(245, 245, 245, 0.877);
  font-weight: 800;
  font-size: 0.8rem;
}

.new__form--name-i {
  outline-width: 0;
}

.new__forming-1 {
  margin: 0;
}

.back {
  height: 100%;
  width: 30vw;
  z-index: 100;
  background-color: red;
}

.fav {
  margin: 1rem;
  border-width: 5px;
  border-style: double;
  background-color: rgba(214, 214, 214, 0.733);
  overscroll-behavior-y: none;
}

.fav__poster {
  width: 15.5rem;
  max-height: 15.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1rem;
  margin-bottom: 1%;
  max-width: 90vw;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1.2px 1.9px 1px #888888;
          box-shadow: 1px 1.2px 1.9px 1px #888888;
}

.fav__name {
  margin-left: 1rem;
  margin-top: 0.11%;
  font-size: 0.6rem;
  color: darkred;
  font-weight: 700;
  text-transform: uppercase;
}

.fav__content {
  color: #756161;
  margin: 0.2% auto 0.3% 20vw;
  font-size: 0.9rem;
  font-weight: 100;
}

body {
  overflow-x: hidden;
}

.try1 {
  position: relative;
  z-index: 2;
  top: -10.7rem;
}

.search {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__loading {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.search__filter:after {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  display: block;
  height: 38vh;
  left: 0;
  top: 4rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.search__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  max-height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.search__buttons {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
  margin-left: 3%;
}

.search__buttons > button {
  background-color: #f8f8f8;
  border: 0.1px solid lightgray;
  border-radius: 5px;
  text-transform: inherit;
  color: #222;
  padding: 0 0.02rem;
  width: 6rem;
}

.search__buttons > button:hover {
  outline-width: 0;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccaca);
}

.search__logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 5rem;
  margin-top: 15%;
}

.search__input {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  height: 2.7rem;
  padding: 0.8rem 1rem;
  border-radius: 99px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 35rem;
}

.search__input--icon {
  color: gray;
}

.search__input > input {
  color: whitesmoke;
  background-color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: medium;
  border: none;
}

.search__input > input:focus {
  outline-width: 0;
}

.search__input--icon {
  height: 1rem;
}

.search__input--icon-mic {
  margin: 0;
}

.result__ing {
  margin-left: 1.4rem;
  margin-top: 0.11%;
  color: darkgray;
  height: 7rem;
  max-height: 15rem;
  font-size: 1.1rem;
  line-height: 1.2;
}

.result__inst {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-top: 0.11%;
  color: darkgray;
  height: 5rem;
  max-height: 15rem;
}

.result__name {
  margin-left: 1rem;
  margin-top: 0.11%;
  font-size: 0.6rem;
  color: darkred;
  font-weight: 700;
  text-transform: uppercase;
}

.result__thumb {
  width: 15.5rem;
  max-height: 15.5rem;
  margin: 1rem;
  margin-bottom: 1%;
  max-width: 90vw;
  border-radius: 2px;
  -webkit-box-shadow: 2px 1.2px 1.9px 2px #888888;
          box-shadow: 2px 1.2px 1.9px 2px #888888;
}

.result__card {
  text-decoration: none;
  list-style-type: none;
}

.result__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */