@mixin button {
  font-size: 00.8rem;
  max-height: 4rem;
  max-width: 4rem;
  padding-left: 0.2rem;
  padding-right: 0.4rem;
  margin-right: 0.2rem;
  padding-top: 1%;
  padding-bottom: 0.2rem;
  background-color: #333333ef;
  display: flex;
  flex-direction: row;
  transition: all 0.2s;
  z-index: 101;
  text-decoration: none;
}
.try {
  height: 20rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.banner {
  &__video {
    object-fit: fill;

    position: relative;
    top: 0;
    // margin-left: -10rem;
    width: 100%;
    //overflow: hidden;
    height: 100%;
    //background-position: center;
    z-index: -99;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__contents {
    padding-top: 10vh;
    margin-left: 1rem;
    z-index: 99;
    height: 4rem;
    position: absolute;
    &--title {
      max-width: 9rem;
      font-size: 1rem;
      font-weight: 800;
      padding-bottom: 0.3rem;
      &:hover {
        color: rgba(245, 245, 245, 1);
      }
    }

    &--inst {
      // margin-top: 3vh;
      width: 15rem;
      line-height: 1;
      padding-top: 0.5rem;
      font-size: 0.8rem;
      max-width: 18rem;
      height: 3rem;
      &:hover {
        width: 100%;
        color: rgba(245, 245, 245, 1);
        background-color: #333333be;
        z-index: 200;
      }
      &-i {
        margin-top: 3vh;
        width: 17rem;
        line-height: 1.1rem;
        max-width: 18rem;
        font-size: 0.7rem;
        font-weight: 500;
        padding-top: 0.1rem;
        font-size: 1rem;
        color: rgba(245, 245, 245, 1);
      }
    }
    &--btn {
      cursor: pointer;
      margin: auto 0.5rem;
      background-color: #333333be;
      outline: none;
      font-weight: 100;
      border-radius: 1vw;
      outline: none;
      border: none;
      padding-top: 1%;
      text-decoration: none;
      transition: 450ms;
      overflow: hidden;
      max-height: 2rem;
      max-width: 2rem;
      // width: 100%;

      &:hover {
        //@include button;
        transform: scale(2);
        outline-width: 0;
      }
      &:focus {
        // @include button;
        // background-color: #333333;
        outline-width: 0;
      }

      &s {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .try {
    height: 63vh;
  }
  .banner {
    &__contents {
      &--title {
        font-size: 3rem;
      }
      &--inst {
        &-i {
          font-size: 2rem;
          line-height: 1.1;
        }
        font-size: 1.5rem;
        // width: ;
        // padding-left: 80vw;
        margin: -15rem 1rem auto 30rem;
        &:hover {
          background-color: none;
        }
      }
    }
  }

  // .banner {
  //   &__contents {
  //     &--btn > svg {
  //       height: 2rem;
  //       width: 2rem;
  //     }
  //   }
  // }
}
@media only screen and (min-width: 1279px) {
  .try {
    height: 42.56vh;
  }

  .banner {
    &__contents {
      flex-direction: row;
      flex-wrap: wrap;
      max-height: 50vh;
      &--title {
        font-size: 3rem;
        margin-left: 60rem;
      }

      &--inst {
        display: none;
        &-i {
          margin-top: -10rem;

          font-size: 1.4rem;
          line-height: 1.1;
          width: 21rem;
          margin-left: 3rem;
        }
        font-size: 1.5rem;
        // width: ;
        // padding-left: 80vw;
        margin: -20rem 1rem auto 58rem;
        &:hover {
          background-color: none;
        }
      }
    }
  }

  // .banner {
  //   &__contents {
  //     &--btn > svg {
  //       height: 2rem;
  //       width: 2rem;
  //     }
  //   }
  // }
}
