.new {
  &__bg {
    margin-left: -10rem;
    height: 100%;
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    z-index: -1;
  }
  &__form {
    margin-left: 50%;
    &--btn {
      background-color: black;
    }
    &--title {
      font-size: 2.5rem;
      color: black;
      font-weight: 500;
    }
    &--name {
      color: whitesmoke;
      font-weight: 400;
      font-size: 0.8rem;
      &-i {
        margin: 0;
      }
    }
    &ing {
      &-1 {
        margin: 0;
      }
    }
  }
}
