.signature {
  margin-left: 6rem;
  color: rgba(245, 245, 245, 0.603);
}
.Your {
  margin-left: 4.5rem;
  color: rgba(245, 245, 245, 0.788);
}
.new {
  width: 320px;
  &__bg {
    margin-top: -2rem;
    margin-left: -10rem;
    height: 95%;
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    z-index: -1;
  }
  &__form {
    opacity: 0.79;
    padding-top: 35%;
    & > input {
      color: darkgreen;
      &:focus {
        color: black;

        outline-width: 0;
      }
      border-radius: 2px;
      border: 0.1px solid lightgray;
    }
    & > textarea {
      color: darkgreen;
      &:focus {
        color: black;

        outline-width: 0;
      }
      height: 10vh;
      border-radius: 2px;
      border: 0.1px solid lightgray;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 45%;
    & > button {
      opacity: 0.9;
      border: 0.1px solid lightgray;
      border-radius: 5px;

      background-color: whitesmoke;
      color: rgb(150, 149, 149);
      font-weight: 800;
      margin-top: -0.4rem;
      &:hover {
        background-image: -webkit-linear-gradient(top, #f8f8f8, #cccaca);
        color: rgb(61, 60, 60);
      }
    }
    &--title {
      margin: 1rem auto auto 1rem;
      position: absolute;
      font-size: 2.3rem;
      line-height: 0.8;
      color: rgba(245, 245, 245, 0.521);
      font-weight: 500;
    }
    &--name {
      color: rgba(245, 245, 245, 0.877);
      font-weight: 800;
      font-size: 0.8rem;
      &-i {
        outline-width: 0;
      }
    }
    &ing {
      &-1 {
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .Your {
    color: darkgreen;
  }
  .new {
    margin-top: 2rem;
    &__form {
      &--title {
        font-size: xxx-large;
      }
      & > button {
        width: 10rem;
      }
      font-size: large;
      margin-left: 35rem;
      & > label {
        font-size: larger;
        margin-right: 10rem;
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 1279px) {
  .new {
    &__form {
      margin-left: 37rem;
      & > input {
        margin-bottom: 1rem;
      }
      &--name {
        display: none;
        width: 100%;
        // margin-left: -5rem;
        margin-top: -1rem;
      }
      align-items: center;
      justify-content: space-around;
      margin-top: -2rem;

      &--title {
        color: darkred;
      }
    }
    &__bg {
      width: 100%;
      margin-left: 0;
      top: 5rem;
      position: absolute;
    }
  }
  .aa {
    display: block;
    font-size: 2rem;
  }
}
