.row {
  width: 101.5vw;

  overflow-x: hidden;
  &__poster {
    object-fit: contain;
    width: 7rem;
    // padding-right: 1rem;
    &:hover {
      transform: scale(1.1);
    }
    &s {
      display: flex;
    }
  }
  //margin-top: 19vh;
  background-color: #333333;
  &__title {
    font-size: 1.3rem;
    font-weight: 400;
    // padding-left: 1rem !important;
    padding-top: 1%;
    color: whitesmoke;
  }
  &__thumb {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }

    &--list {
      margin-top: -0.2rem;
      list-style-type: none;
      font-size: 0.5rem;
      &-itm {
        display: none;
      }

      &-img {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow: scroll;
      }
      &:hover {
        font-size: 0.73rem;
        color: white;
      }

      &1 {
        font-size: 0.7rem;
        color: whitesmoke;
      }
      &-inst {
        display: none;
      }
    }

    &s {
      width: 30%;
      display: flex;
      flex-direction: row;
      //overflow-y:;
      //overflow-x: hidden;
    }

    &--img {
      max-height: 16vh;
      margin-right: 4vw;
      object-fit: contain;
      width: 100%;
      transition: transform 450ms;
      opacity: 0.75;
      z-index: 200;
      &:hover {
        transform: scale(1.22);
        opacity: 1;

        // background-color: rgba(245, 245, 245, 1);
      }
      &-l {
        max-height: 9rem;
        margin: 0;
        transition: transform 450ms;
        opacity: 0.85;
        &:hover {
          transform: scale(1.2);
          opacity: 1;
        }
      }
    }
  }
}
